<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta name="viewpoint" content="with=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'about.css' %}"/>
<!--    <link rel="stylesheet" href="review.css">-->
</head>
    <body>
       <section class="banner">
        <section class="header">
            <nav>
                <div class="logo"><strong>HISTORY INSIGHTS</strong></div>
                <div class="nav-links">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/">HOME</a></li>
                        <li><a href="http://127.0.0.1:8000/heritage/">HERITAGE</a></li>
                        <li><a href="http://127.0.0.1:8000/make_plan/">MAKE PLAN</a></li>
                        <li><a href="http://127.0.0.1:8000/about/">ABOUT US</a></li>
                        <li><a href="http://127.0.0.1:8000/contact/">CONTACT US</a></li>
                        <li><a href="http://127.0.0.1:8000/sign_up/">SIGN UP</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
        <div class="img"></div>
        <center>
       <div class="text">
        <h1>We Try To Inspire a Deeper Interest in Our Heritage</h1><br>
        <p>For Adventure, Excitement, and Fun for a whole family or group, you can find an easier way to manage the trips.<br>
            You can explore historical places and learn details about our countries history. We try to make it super easy to schedule, organize and travel with friends
            or family.
            </p>
            <a href="http://127.0.0.1:8000/sign_up/" class="involve-btn">Get Involved</a>
       </div>
    </center>
    </section>
    </body>
</html>